body {
  background-color: black;
}

h1 {
  font-weight: 800;
  font-family: "Righteous";
  color:#10941f;
  font-size: 65px;
  text-shadow: #FC0 1px 0 10px;
}
h2 {
  font-family: "Sans-serif";
  color: #05f721;
  font-weight: 600;
}

.sideBar {
  color: gray;
  font-weight: 700;
}

.sidebar {
  border-style: double;
  border-width: 5px;
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: normal;
  text-align: center;
}

.img1 {
  width: 50%;
  height:50%;
  border-style: dashed;
  border-width: 8px;
  border-color: #10941f;
  border-radius: 20%;
}

nav {
  background-color: #253f4b;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin: 10px;
}
button {
  background-color: green;
  border-style: solid;
  border-radius: 25%;
  height: 30px;
  width: auto;
}

button:hover {
background-color: darkgray;
}

.imOnThisPage {
  background-color: navy;
}

h3 {
  font-size: 40px;
  font-family: "sans-serif";
  border-style: double;
  border-width: 10px;
  border-color: darkblue;
  color: purple;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.desc {
  color: rgb(46, 10, 222);
  font-size: 20px;
  font-weight: bold;
  border-style: dotted;
  border-width: 5px;
  border-color: darkblue;
  background-color:slateblue;
}

li {
  font-weight: 700;
  color: navy;
}

.sky{
  background-image: url("/leo-chane-4LBhGBSYky4-unsplash.jpg");
}

a:link {
  color: rgb(71, 239, 25);
}

/* visited link */
a:visited {
  color: rgb(247, 4, 4);
}

/* mouse over link */
a:hover {
  color: rgb(54, 40, 255);
}

/* selected link */
a:active {
  color: rgb(255, 0, 255);
}